*/ {
    font-family: "montserrat";
}
body{
    background-color: black;
    color: white;
}

#destacados .card{
    background-color: rgb(17, 159, 202);
    color: white;

}

#contacto button {
    background-color:rgb(17, 159, 202) ;
    color: white;

}